<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/jumper/style.css">
    
    
</head>
<body>
    <div class="row m-3">
        <h1>
            
          </h1>
    </div>
    <div class="container-fluid">
          <br>
          <div id="high-scores"></div>
          <div id="score-box"><br>Score: &nbsp;<span id="score-text">0</span></div>
          <br>
          <div id="name-input"><input value="" placeholder="Input Name Here..."></input></div>
          <div class="game" id="game">
                <div><span id="menu1">press any key to start<br>arrow key up to fly</span></div>
                <img id="backg" src="jumper/img/sky.jpeg" width="600" height="350" alt="" style="display: none;">
                <img id="pony" src="jumper/img/pony.png" width="600" height="350" alt="" style="display: none;">
                <img id="token" src="jumper/img/clover.png" width="600" height="350" alt="" style="display: none;">
                <img id="trail" src="jumper/img/trail.png" width="600" height="350" alt="" style="display: none;">
          </div>
          </div>
    </div>

</body>
<script type="module" src="/jumper/main.js"></script>
</html>
